.food-background {
	background-image: image-url(food-background);
	background-repeat: repeat;
}
.bg-white{
  background-color:#ffffff !important;
}
.bg-green{
	background-color: #dff0d8 !important;
}
.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}
.padding-5{
	padding: 5px !important;
}
.float-right{
 float: right;
}
.red
{
  color: red;
}
.margin-5{
  margin: 5px !important;
}
.display-none
{
display:none;
}
.margin-top{
margin-top:15px;
}
.green
{
  color: green !important;
}
.white
{
  color: white !important;
}

