.food-background {
	background-image: image-url(food-background);
	background-repeat: repeat;
}
.bg-white{
  background-color:#ffffff !important;
}
.bg-green{
	background-color: #C5E3BF !important;
}
.bg-red {
  background-color: #EF3E3A !important;
}
.bg-transparent {
  background-color: rgba(255,255,255,0.15) !important;
}
.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}
.padding-5{
	padding: 5px !important;
}
.float-right{
 float: right;
}
.red
{
  color: #EF3E3A;
}
.margin-5{
  margin: 5px !important;
}
.display-none
{
display:none;
}
.margin-top{
margin-top:15px;
}
.green
{
  color: green !important;
}
.white
{
  color: white !important;
}

.font-18 {
  font-size: 18px;
}
.margin-right{
margin-right:15px;
}
.margin-left{
margin-left:5px;
}
