// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.product-details{
	height:110px;
	margin-bottom: 0px !important;
  border-radius: 0px !important;
}
.product:hover {
	border-color: rgb(193, 82, 59);
}
.product-image {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.item-name {
	color: #222222;
	font-size: 16px;
}
.item-price {
  margin-top: 9px;
  float: right;
  font-size: 16px;
  color: white;
  width: 60px;
  background-color: #EF3E3A;
  padding-left: 15px;
}
.heading {
	font-size: 18px;
	color: #000;
}
.dotted-bottom-border {
	border-bottom-style: dotted;
	border-bottom-width: 1px;
}
#tnc-button {


color: white;
}
ul.navbar-right.nav li {
	font-size: 16px;
}

 

.process {
  font-size: medium;
}
