// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.product{
	height:270px;
}
.product:hover {
	border-color: rgb(193, 82, 59);
}
.js-product-selected {
	border-color: green !important;
}
.item-name {
	color: rgb(34, 34, 34);
	font-size: 16px;
}
.item-price {
  margin-top: 9px;
  float: right;
  font-size: 16px;
  color: white;
  width: 60px;
  background-color: rgb(193, 82, 59);
  padding-left: 15px;
}