 <footer>
  <div class="row container-fluid">
    <div class="col-md-6 col-md-offset-1">
      <div class="social-icons">
        <p class="white"> <a href="https://www.zomato.com/bangalore/chaatbox-com-whitefield"><%= image_tag 'zomato.png',height: '30' %></a> &nbsp Zomato  &nbsp&nbsp<a href="https://goo.gl/9kqFP1" > 3.7 stars, 22 reviews </a>
        </p>
        <p class="white"><a href="https://www.facebook.com/chaatbox"><%= image_tag 'facebook.png',height: '30' %></a> &nbsp
        Facebook &nbsp&nbsp<a href="https://goo.gl/Yf6yPb"> 4.9 stars, 51 reviews </p></a> 
      </div>
    </div>
    <div class="col-md-5">
      <div class="row">
        <div class="col-md-6">
          <p class="phone white"><b class="fa fa-mobile  fa-2x"></b>&nbsp&nbsp<b>09595404709</b></p>
          <p class="white"><b class="fa fa-envelope-o  fa-1x"></b>&nbsp;&nbsp;<b>careteam@chaatbox.com</b></p>
        </div>
        <div class="col-md-6">
          <div class="get-in-touch">
            <p> <a class="white" href="#" data-toggle="modal" data-target="#exampleModal"> Feedback </a></p>
            <p><a class="white" href="#" data-toggle="modal" data-target="#howitworks"> How it works </a></p>
            <p><a id="tnc-button" href="#" data-toggle="modal" data-target="#terms">Terms &amp; Conditions</a> </p>
          </div>
        </div>
      </div>
    </div>
  </div>
 
</footer>

<div class="modal fade" id="terms" role="dialog" aria-labelledby="gridSystemModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4>Terms &amp; Conditions<h4>
        </div>
        <div class="modal-body">
          <p style="font-size: 12px;">
            <b>Prices</b>
            <br>
            Prices are fixed & non-negotiable.
            <br>
            <br>
            <b>Privacy Policy</b>
            <br>
            We store only the necessary information required to make an order. The personal information collected on this site includes: your name, address, telephone number, email addresses, and any other information you may voluntarily provide. We do not sell or lease any of your personal information. All information shared with us is entirely confidential.<br><br>
            <b>Refunds Policy</b><br>
            At Chaatbox we are committed to ensuring your satisfaction with every order you place with us. If you are not satisfied with our service, we will replace/refund the order as per your wish.<br><br> 
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
