
<a id="tnc-button" href="#" data-toggle="modal" data-target="#terms">Terms &amp; Conditions</a>



<div class="modal fade" id="terms" role="dialog" aria-labelledby="gridSystemModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4>Terms &amp; Conditions<h4>
        </div>
        <div class="modal-body">
          <p style="font-size: 12px;">
            <b>Prices</b>
            <br>
            All prices are fixed without any negotiations.
            <br>
            <br>
            <b>Privacy</b>
            <br>
            We only store necessary information required to make an order. We do not sell or lease any of your personal information. All information shared with www.chaatbox.com is entirely confidential.<br><br>
            <b>Refunds Policy</b><br>
            www.chaatbox.com is committed to ensure your satisfaction with any product you have ordered from us. If you are not satisfied we will replace/refund as per your wish.<br><br>

            <b>Privacy Policy</b><br>
            This is for reasons of fraud protection.  Fraudulent orders will be submitted to the appropriate authorities. The personal information collected on this site includes: your name, address, telephone number, email addresses, and any other information you may voluntarily provide.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

