<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
       <i><h4> <%= link_to 'Chaatbox.com',root_path %></i></h4>
    </div>
     <div class="nav navbar-nav navbar-right">
       <div class="row">
        <div class="col-md-3">
       <%= image_tag('callus.jpg',width: '50',height: '50',class:'img-circle') %>
        </div>
       <div class="col-md-9">
        <h3 class="green">+919795058677</h3>
        </div>
         </div>
       </ul>
     </div>
  </div>
</nav>
